In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import numpy as np
from sklearn.cluster import KMeans
from sklearn.mixture import GMM

In [2]:
data = pd.read_csv("data/zip.train", header=None, sep=" ")

### example with only 2 numbers

In [6]:
# Accepts a digit, returns a DataFrame where the first column corresponds to that digitdef is_num(num) :
clean_data = data.dropna(axis=1, how='any',thresh=None)

#Accepts a digit, returns a DataFrame containing all training values corresponding to that digitdef only_num(num) :
def is_num(num) :
    return pd.DataFrame(clean_data[clean_data[0]==num])

def only_num(num) :
    only_num_df = pd.DataFrame((is_num(num)).drop((is_num(num)).columns[[0]],axis=1))
    return only_num_df

In [63]:
data7_with_digit = is_num(7)
data5_with_digit = is_num(5)
data7 = only_num(7)
data5 = only_num(5)

data7_5 = pd.concat([data7, data5])
data7_5_with_digit = pd.concat([data7_with_digit, data5_with_digit])

In [65]:
kmeans = KMeans(2, random_state=0)
labels = kmeans.fit(data7_5).predict(data7_5)
labels
data7_5_with_digit["result"] = labels

### whole data

In [3]:
data_with_digit = data.iloc[:,:-1]
data_without_digit = data_with_digit.iloc[:, 1:]

In [4]:
np.random.seed(1)
kmeans = KMeans(10, random_state=0)
labels = kmeans.fit(data_without_digit).predict(data_without_digit)
labels
data_with_digit["result"] = labels

In [5]:
label_digit_assignment = data_with_digit[[0, 'result']]

In [6]:
def count_digits(n):
    df = pd.DataFrame(data_with_digit[data_with_digit[0] == n])
    data_cluster_nr = df["result"].value_counts()
    data_cluster_nr = pd.DataFrame(data_cluster_nr)
    data_cluster_nr.reset_index(level=0, inplace=True)
    original_digit = len(data_cluster_nr)*[n]
    data_cluster_nr["original dig"] = original_digit
    data_cluster_nr = data_cluster_nr[['original dig','index','result']]
    return data_cluster_nr

In [85]:
for n in range(0,9):
    data_cluster_nr = count_digits(n)
    
    if n == 0:
        df_counts = data_cluster_nr
    else:
        df_counts = pd.concat([df_counts, data_cluster_nr])
        
df_counts = df_counts[['original dig','index','result']]

In [9]:
for n in range(0,9):
    data_cluster_nr = count_digits(n)
    sum_of = data_cluster_nr.sum()
    sum_of_results = sum_of["result"]
    percent = data_cluster_nr["result"]/sum_of_results*100
    data_cluster_nr["percent of digit type"] = percent
 
    if n == 0:
        df_counts = data_cluster_nr
    else:
        df_counts = pd.concat([df_counts, data_cluster_nr])
        
#df_counts = df_counts[['original dig','index','result']]

In [11]:
df_counts.iloc[:40,]

   original dig  index  result  percent of digit type
0             0      5     524              43.886097
1             0      8     516              43.216080
2             0      0     115               9.631491
3             0      4      15               1.256281
4             0      1      11               0.921273
5             0      9       7               0.586265
6             0      6       6               0.502513
0             1      2    1001              99.601990
1             1      9       3               0.298507
2             1      7       1               0.099502
0             2      6     556              76.060192
1             2      9      47               6.429549
2             2      1      47               6.429549
3             2      4      34               4.651163
4             2      3      13               1.778386
5             2      8      12               1.641587
6             2      7       9               1.231190
7             2      0       7               0.957592
8             2      5       3               0.410397
9             2      2       3               0.410397
0             3      4     545              82.826748
1             3      9      73              11.094225
2             3      6      13               1.975684
3             3      7      11               1.671733
4             3      1       8               1.215805
5             3      5       2               0.303951
6             3      3       2               0.303951
7             3      0       2               0.303951
8             3      8       1               0.151976
9             3      2       1               0.151976
0             4      1     445              68.251534
1             4      7     137              21.012270
2             4      2      41               6.288344
3             4      6      12               1.840491
4             4      0       6               0.920245
5             4      9       5               0.766871
6             4      3       5               0.766871
7             4      8       1               0.153374
0             5      4     295              53.057554
1             5      0     109              19.604317

In [68]:
sum_of_0 = (df_counts[df_counts["original dig"] == 0]).sum()
sum_of_0

for i in range(0,9):
    data_cluster_nr = count_digits(n)
    df_counts = (data_cluster_nr[data_cluster_nr["original dig"] == 0]).sum()

In [101]:
sum_of_0 = (df_counts[df_counts["original dig"] == 0]).sum()
df_counts_0 = sum_of_0["result"]
df_counts_0

1194.0

In [103]:
dig_0["result"]/df_counts_0*100

0    43.886097
1    43.216080
2     9.631491
3     1.256281
4     0.921273
5     0.586265
6     0.502513
Name: result, dtype: float64

In [125]:
dig_0 = count_digits(0)
dig_0

   original dig  index  result
0             0      5     524
1             0      8     516
2             0      0     115
3             0      4      15
4             0      1      11
5             0      9       7
6             0      6       6

In [121]:
sum_of_0 = dig_0.sum()
sum_of_0

original dig       0
index             33
result          1194
dtype: int64

In [123]:
sum_of_0_r = sum_of_0["result"]

In [124]:
dig_0["result"]/sum_of_0_r*100

0    43.886097
1    43.216080
2     9.631491
3     1.256281
4     0.921273
5     0.586265
6     0.502513
Name: result, dtype: float64

In [82]:
df_counts_select = df_counts[df_counts["original dig"] == 0]
df_counts_select["result"]/df_counts_0*100

0    43.886097
1    43.216080
2     9.631491
3     1.256281
4     0.921273
5     0.586265
6     0.502513
Name: result, dtype: float64

In [37]:
count_0 = count_digits(0)
count_1 = count_digits(1)
count_2

(   index  result  original dig
 0      5     524             0
 1      8     516             0
 2      0     115             0
 3      4      15             0
 4      1      11             0
 5      9       7             0
 6      6       6             0,    index  result  original dig
 0      2    1001             1
 1      9       3             1
 2      7       1             1)